@import '../Style//mixin.scss';

.banner {
    margin: auto;
    

    & .bannerImg {
        height: 98vh;
        width: 96%;
        background-color: #D9D9D9;
        border-radius: 20px;
        background-clip: ur;
        margin: auto;

        & video {
            object-fit: cover;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

@media screen and (max-width: 450px) {
    .banner {

        & .bannerImg {
            height: 90vh;
        }
    }
}

@media screen and (max-width: 550px) {
    .banner {

        & .bannerImg {
            height: 90vh;
        }
    }
}