@import '../Style/Variable.scss';
@import '../Style/mixin.scss';
.bottom{
    background-color: #fff;
    padding-bottom: 5%;
    margin-top: -5%;
}

@media screen and (max-width: 450px) {
   .bottom{
    margin-top: -5%;
   }
}

@media screen and (max-width: 550px) {
    .bottom {
            // margin-top: -80%;
        }
}