    @import '../Style/Variable.scss';
@import '../Style/mixin.scss';

.bottomTop {
    margin-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 5%;
    padding-left: 10%;
    // position: relative;

    .bottomLeft{
        // margin-left: 2%;
    }

    & h1 {
        color: #fff;
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 2px;
        color: $Title-color;
        // position: absolute;
        // left: 7%;
    }

    & p {
        // position: absolute;
        color: $Desc-color;
        font-size: 11px;
        max-width: 80%;
        text-align: justify;
        opacity: 0.6;
    }
}

.bottomRight {
    min-width: 75%;
    height: 70vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -2%;
}

@media screen and (max-width: 450px) {
    .bottomLeft{
        & h1{
            font-size: 20px;
            margin-left: 5px;
        }

        & p{
            font-size: 9px;
            margin-top: 2%;
            margin-bottom: 5%;
        }
    }

    .bottomRight{
        height: 400px;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .bottomTop{
        padding: 0% 2%;
        flex-direction: column;
    }
    .bottomLeft {
        & h1 {
            font-size: 12px;
        }

        & p {
            font-size: 8px;
            top: 20%;
            max-width: 100%;
            padding: 0 5px;
            text-align: justify;
        }
    }

    .bottomRight {
        height: 400px;
        width: 100%;
    }
}