@import '../Style/mixin.scss';

.header {
    @include flexbox(space-between);
    padding: 20px;
    & h1{
        font-size: 25px;
        font-weight: 600;
        font-style: sens-serif;
        color: #968255;
    }

    & p{
        font-size: 14px;
        font-weight: 400;
        color: #AC8735;
    }

    & p:hover{
        cursor: pointer;
    }
}
@media screen and (max-width: 550px) {
    .header {
        & h1 {
            font-size: 20px;
        }

        & p {
            font-size: 11px;
        }
    }

    .first {
        display: none;
        padding: 0%;
    }
}

@media screen and (max-width: 420px) {
    .header{
        & h1{
            font-size: 20px;
        }
        & p{
            font-size: 11px;
        }
    }
    .first{
        display: none;
        padding: 0%;
    }
}

