@import '../Style/mixin.scss';
@import '../Style//Variable.scss';

@mixin image($height, $width, $color) {
    height: $height;
    width: $width;
    background-color: $color;
}

.showcase {
    margin-top: 5%;
    padding-right: 20px;
    padding-bottom: 5%;
    height: 50vh
}

.showcaseUpper {
    @include flexbox(space-between);
    padding-right: 5%;
}

.showcaseImage {
    position: relative;
}

.firstImg {
    @include image(380px, 300px, #BDBDBD);
    border-radius: 20px;

    & img{
        border-radius: 20px;
    }
}


.showcaseUpperTitle,
.showcaseLowerLeft {
    // padding-right: 8%;

    & h1 {
        font-size: 40px;
        font-weight: 400;
        color: $Title-color;

    }

    & p {
        color: $Desc-color;
        margin-top: 20px;
    }
}

.showcaseLower {
    @include flexbox(space-between)
}

.showcaseLowerLeft {
    padding-left: 5%;
}

.showcaseLowerRight {
    @include flexbox(center);
    position: relative;
    margin-top: -5%;
    height: 550px;
    width: 550px;
    position: relative;
    background-image: url('../assets/images/logo_small3.png');
    background-position: center;
    background-size: cover;

    // & .firstImg {
    //     position: absolute;
    //     top: 0px;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }

    & .firstImg {
        @include image(250px, 350px, #D9D9D9);
        border-radius: 20px;
        // transform: rotate(90deg);
        margin-left: 15%;

        & img {
                border-radius: 20px;
            }
    }

    & .secondImage {
        @include image(300px, 220px, #BDBDBD);
        border-radius: 20px;
        position: absolute;
        left: 20%;

        & img {
                border-radius: 20px;
            }

    }
}


@media screen and (max-width: 1500px) {

    .showcaseLowerLeft {
        width: 40%;
    }

    .showcaseLowerRight {
        height: 500px;
        width: 500px;

        & .firstImg {
            @include image(250px, 180px, #D9D9D9);
        }

        & .secondImage {
            @include image(250px, 180px, #BDBDBD);
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
    .showcaseLowerRight {
        height: 400px;
        width: 500px;

        & .firstImg {
            @include image(200px, 150px, #D9D9D9);
        }

        & .secondImage {
            @include image(200px, 130px, #BDBDBD);
        }
    }
}

@media screen and (max-width: 450px) {
    .showcase {
        padding-left: 2%;
        @include flexbox(center);
            flex-direction: column;
            margin-top: 40%;
    }

    .showcaseUpperTitle {
        margin-left: 10%;

        & h1 {
            font-size: 12px;
        }

        & p {
            font-size: 10px;
            // text-align: justify
        }
    }

    .showcaseImage {
        & .firstImg {
            @include image(160px, 120px, #D9D9D9);
        }
    }
    .showcaseLower{
        margin: 5% 0;
    }

    .showcaseLowerLeft {
        & h1 {
            font-size: 12px;
        }

        & p {
            font-size: 10px;
            // text-align: justify
        }
    }

    .showcaseLowerRight {
        height: 200px;
        width: 250px;

        & .firstImg {
                @include image(100px, 80px, #D9D9D9);
                border-radius: 10px;
            }
        
            & .secondImage {
                @include image(100px, 70px, #BDBDBD);
                border-radius: 10px;
            }
    }
}

@media screen and (max-width: 550px) {
    .showcase {
        padding-left: 2%;
        @include flexbox(center);
        flex-direction: column;
    }

    .showcaseUpperTitle {
        margin-left: 10%;

        & h1 {
            font-size: 12px;
        }

        & p {
            font-size: 10px;
            // text-align: justify
        }
    }

    .showcaseImage {
        & .firstImg {
            @include image(160px, 120px, #D9D9D9);
        }
    }

    .showcaseLower {
        margin: 5% 0;
    }

    .showcaseLowerLeft {
        & h1 {
            font-size: 12px;
        }

        & p {
            font-size: 10px;
            // text-align: justify
        }
    }

    .showcaseLowerRight {
        height: 200px;
        width: 200px;

        & .firstImg {
            @include image(100px, 80px, #D9D9D9);
            border-radius: 10px;
        }

        & .secondImage {
            @include image(100px, 70px, #BDBDBD);
            border-radius: 10px;
        }
    }
}

@media screen and (max-width: 420px){
    .showcaseLowerRight {
            height: 180px;
            width: 180px;
        }
}